<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js Page</title>
  </head>

  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Blog</h1></a>
        <p>A Blog site</p>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu
        lectus nisi. Nulla venenatis, orci ac malesuada posuere, elit risus
        mattis erat, eu aliquet turpis massa sit amet ligula. Vestibulum
        venenatis ante neque, vel egestas lacus dapibus ac. In fermentum
        porttitor turpis vel interdum. Etiam aliquam faucibus nibh, non
        facilisis ipsum mattis in. Pellentesque auctor, sem vel auctor
        tincidunt, arcu lectus cursus odio, sit amet volutpat nunc ex at tellus.
        Nam mattis in ipsum quis congue. Sed vitae mollis erat. Quisque et quam
        ex. Praesent ante purus, pretium quis tempus eget, pulvinar et nulla.
        Duis a dictum tellus.
      </p>
      <p>
        Ut in quam sagittis, tincidunt augue at, sagittis nisl. Morbi consequat
        eleifend neque, quis commodo leo consectetur ac. Duis lacinia ultricies
        aliquet. Morbi pretium viverra massa sit amet sagittis. Quisque eu nunc
        sed lacus malesuada ullamcorper vitae vitae velit. Sed vulputate sodales
        turpis nec lobortis. Etiam euismod dui sed mi tincidunt, in egestas
        magna convallis. Nunc in odio finibus, ultrices justo quis, feugiat
        nulla. In tristique scelerisque nisi eget iaculis. Donec pellentesque
        velit in mollis pulvinar. Donec id tincidunt enim. Etiam vitae nibh
        elit. Morbi fermentum tincidunt blandit. Proin mollis vulputate
        lobortis. Donec sed purus ornare, euismod nunc at, sodales leo. Nam
        finibus libero eu quam accumsan venenatis.
      </p>
      <p>
        Ut mi nisl, egestas nec dolor ac, venenatis accumsan libero. Donec
        tortor diam, interdum eu pulvinar vel, commodo sollicitudin felis. Morbi
        blandit sem sed lacus interdum, vitae pharetra nunc dapibus. Aenean eu
        gravida augue, vitae ornare nisl. Phasellus rutrum quam sit amet
        elementum imperdiet. Maecenas finibus at elit et feugiat. Duis porta eu
        nibh at laoreet. Cras hendrerit fermentum lacus, a scelerisque elit.
        Nulla vestibulum sem diam, sit amet pulvinar erat luctus sed. Curabitur
        elementum, augue et mattis efficitur, eros dolor dictum nulla, ac
        laoreet risus sem vitae urna. Vivamus purus mi, tincidunt ac turpis ac,
        rutrum ornare metus. Nullam gravida turpis a arcu dignissim cursus.
      </p>
    </div>
  </body>
</html>
