<nav>
  <div class="site-title">
    <a href="/"><h1>Blog</h1></a>
    <p>A Blog site</p>
  </div>
  <ul>
    <!-- global variable from middleware -->
    <% if(user) { %>
    <li>Welcome, <%= user.email %></li>
    <li><a href="/logout">Log out</a></li>
    <% } else { %>
    <li><a href="/signup" class="btn">Sign up</a></li>
    <li><a href="/login">Login</a></li>
    <% } %>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
